 .d-flex a:active, a:visited, a:link{
    text-decoration: none;
    color: #212529;
}

.d-flex a:hover{
    text-decoration: none;
    color: white;
}

.fix_image{
    width: 100%;
    height: 100%;
}

.basic_page_img{
    background-image: url(/static/images/basic_header-2.jpg);
    background-size: cover;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: bottom;
    object-position: bottom;
    height: 100%;
    background-color:  lightgray;
background-blend-mode: overlay;

}


.btn-primary {
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #16a083;
    display: inline-block;
    padding: .7em 1.9em;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 500;
}

.btn-primary:hover{
    background: #fff;
    color: #16a083;
    /* font-size: 1.1rem; */
    border: 3px solid #16a083;
}


.big-font{
    font-size: small;
}

.big-font {
    width: 300px;
}