{% extends 'admin_base.html' %}
{% block title %}

Add Men
{% endblock title %}



{% block conatant %}
<br>
<h1 style="text-align: center;">This is Man page</h1>

<form class="container big-font" action="{{ url_for('man_page') }}" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name of Product</label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description of product</label>
    <input name="description" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Price of the product</label>
    <input name="price" type="number" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="input-group mb-3">
    <input type="file" name="avatar" class="form-control" id="inputGroupFile02">
  </div>
<div style="text-align: center;">
  <input type="submit" class="btn btn-primary"></input>
</div>
</form>
<br>

<hr>

<div class="container">
  <h1 style="text-align: center;">All The product related to man page</h1>
  <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
    <hr>
    {% for data in data %}
    <div class="col-6" style="font-size: medium;">
      <h4 
      style="color:rgb(120,120,120); margin-bottom:4px;">
    </h4>
    <br>
    <div>
      Product Name:{{data['item_name']}}
    </div>

    <div>
      Product Price:<b>{{data['price']}} RS</b>
    </div>
    <br>
    <div> 
      <a href="{{ url_for('delete_product_man' , path = data.pic_name ) }}" type="submit" class="btn btn-primary">Delete</a>
    </div>
    
    
  </div>
  <div class="col-2 padding-right:16px">
    <img style="width: 180px; height: 200px;" src="/static/{{data['pic_name']}}" alt="image">
  </div>
  <br><br><br>
  <hr>
  <br>
  <br><br>
  {% endfor %}
  </div>
</div>








{% endblock conatant %}