{% extends 'admin_base.html' %}
{% block title %}
Admin page
{% endblock title %}



{% block conatant %}

<!-- <h1>This is admin page</h1>

<h1>The order list</h1> -->

<br>
<hr>
<br>
<h1 style="text-align: center;">This is order details.</h1>
<br>
<hr>
<br>
{% for order in data %}

<div class="container">


<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
    <div class="col-6"  style="font-size: small;">
        <h4 
        style="color:rgb(120,120,120); margin-bottom:4px;">
    </h4>
    <div>
        <b>Name:</b> = {{order['name']}}
    </div>
    <div>
        <b>Phone Number:</b> = {{order['phone_num']}}
    </div>
    <div>
        <b>email:</b> = {{order['email']}}
    </div>
    <div>
        <b>Address 1:</b> = {{order['address1']}}
    </div>
    <div>
        <b>Address 2:</b> = {{order['address2']}}
    </div>
    <div>
        <b>City Name:</b> = {{order['city']}}
    </div>

    <div>
        <b>Province:</b> = {{order['province']}} / {{order['country']}}
    </div>
    <div>
        <b>Product Name:</b> = {{order['image_name']}}
    </div>
    <div>
        <b>Product Price:</b> = <b>{{order['image_price']}} RS</b>
    </div>



</div>
<div class="col-2 padding-right:16px">
    <img style="width: 180px; height: 200px;" src="/static/{{order['image_path']}}" alt="image">
</div>

</div>
<br>
<hr><br>
</div>
{% endfor %}
{% endblock conatant %}
