{% extends 'base.html' %}
{% block title %}
Buy | Now
{% endblock title %}


{% block conatant %}

<div class=" container">

  <div>
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <!-- <h1> </h1> -->
              <img class="card-img-top" src="/static/{{data[2]}}" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{data[1]}}</h5>
                  <!-- Product price-->
                  {{data[0]}}
                </div>
              </div>
              <!-- Product actions-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <h1>If you want to buy this Product then Kindly Log IN</h1>

  <div class="container">
    <div class="row align-items-start">
      <div class="col">
      <form action="{{ url_for('order') }}" method="post">
        <div class="col-md-6">
          <label for="name" class="form-label">Full Name</label>
          <input name="name" type="text" class="form-control" id="name">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input name="Email" type="email" class="form-control" id="inputEmail4" placeholder="abc@gmail.com">
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label">Phone Number</label>
          <input name="phone" type="number" class="form-control" id="phone" placeholder="03XX-XXXXXXX">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-6">
          <label for="inputAddress" class="form-label">Address 1</label>
          <input name="address1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-6">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input name="address2" type="text" class="form-control" id="inputAddress2"
            placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input name="city" type="text" class="form-control" id="inputCity">
        </div>

        <div class="col-md-6">
          <label for="province" class="form-label">Province</label>
          <input name="province" type="text" class="form-control" id="province">
        </div>
        <div class="col-md-6">
          <label for="country" class="form-label">Country</label>
          <input name="country" type="text" class="form-control" id="country">
        </div>

        <!-- These are not for display -->
        <div class="col-md-6">
          <label style="display: none;" for="order_number" class="form-label">Order Number</label>
          <input style="display: none;" name="item_path" type="text" class="form-control" id="order_number" value={{data[2]}} >
        </div>

        <div class="col-md-6">
          <label style="display: none;" for="item_name" class="form-label">Name of Order</label>
          <input style="display: none;" name="item_name" type="text" class="form-control" id="item_name" value={{data[1]}} >
        </div>

        <div class="col-md-6">
          <label style="display: none;" for="price" class="form-label">Price of Order</label>
          <input style="display: none;" name="price" type="text" class="form-control" id="price" value={{data[0]}} >
        </div>
        <br>
        <div class="col-12">
          <input type="submit" class="btn btn-primary">
        </div>
        <div class="col-md-6">
      </form>
    </div>

    <div class="col">
      THis is testing
    </div>
    </div>
  </div>
  <br>
</div>




<br>

{% endblock conatant %}