{% extends 'base.html' %}
{% block title %}
child | Page
{% endblock title %}



{% block conatant %}

<div class="container">
    <br><br><br><br><br><br>
    <h1 style="text-align: center; font-size: xx-large; font-weight: 900;">This child collection is coming soon......</h1><br><br><br><br><br><br><br><br><br><br>
    <<br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


{% endblock conatant %}